/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
	text-align: center;
	margin: u(10rem 0 1rem 0);
	padding-bottom: u(10rem);

	p a {
		font-style: italic;
		color: $blue;

		&:hover {
			color: $blue_hover;
		}
	}
}