/*********************************************************************************/
/* Navigation                                                                    */
/*********************************************************************************/

#navSite {
	@include opacity(0.7);
	width: $full-width;
	position: fixed;
	z-index: 9999;

	ul.primaryNav {
		margin: 0 auto;
		list-style-type: none;
		@include pie-clearfix;

		li {
		width: 12.5%;
		text-align: center;
		@include float(left);

			a {
				@include inline-block;
				font-weight: 300;
				color: $blue;

				&:hover,
				&.active {
					color: $blue_hover;
					border-bottom: u(2px) solid $blue_hover;
				}
			}
		}
	}
}
