/*********************************************************************************/
/* Form                                                                          */
/*********************************************************************************/

.resp-form {
	@include pie-clearfix;
	width: $full-width;
	background-color: $blue_bg;
	position: relative;
	padding-bottom: u(3rem);

	.column {
		width: 29%;
		padding: u(1rem) 2%;
		@include float(left);
	}

	label {
		font-size: u(1.1rem);
		display: block;
		padding: u(2.5rem 0.313rem 0.313rem 0.125rem);
		color: $white;
		text-transform: uppercase;
		letter-spacing: u(0.0625rem);
	}

	input,
	textarea,
	select {
		@include box-sizing(border-box);
		font-size: u(1.3rem);
		line-height: u(1.5rem);
		font-family: $font_4;
		font-weight: lighter;
		padding: u(0.313rem 0.625rem);
		color: $white;
		display: block;
		width: $full-width;
		background: transparent;
	}

	select {
		@include border-radius(0);
		border: u(0.188rem) solid $white;
	   	background-image: url("../../img/arrow-204-16.png");
	   	background-color: transparent;
	   	background-repeat: no-repeat;
	   	background-position: 95% center;
	   	cursor: pointer;

	   	-moz-appearance: none; /* Firefox */
		-webkit-appearance: none; /* Safari and Chrome */

		&::-ms-expand {
			display: none; /* IE8-IE9-IE10 */
		}
	}

	input,
	textarea {
		border: u(0.188rem) solid $white;
	}

	textarea {
		min-height: u(12.5rem);
	}

	input:focus,
	textarea:focus,
	label:active + input,
	label:active + textarea {
		outline: none;
		border: u(0.188rem) solid #064c8a;
	}

	select:focus {
		outline: none;
	}

	input[type="text"] { 
		@include input-placeholder {
			font-size: u(1rem);
			line-height: u(1.5rem);
			font-family: $font_4;
		    color: $white;
			font-weight: lighter;
			font-style: italic;
		}
	}

	.submit-wrap {
		text-align: center;
		padding-top: u(2.5rem);
		clear: both;
	}

	input.submit {
		@include inline-block;
		@include border-radius(0);
		font-size: u(1.1rem);
		background: $blue;
		border: 0 none;
		color: $white;
		width: auto;
		cursor: pointer;
		text-transform: uppercase;
		padding: u(0.938rem 1.875rem);
		letter-spacing: u(0.0625rem);

		&:hover {
			background: $blue_hover;
		}
	}
}